<header class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Giphy-test</a>
</header>

<section class="searchbar">
  <div class="search-container">
    <input class="form-control" type="text" placeholder="Search GIFs by tags" [(ngModel)]="searchQuery">
    <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button>
  </div>
</section>

<section class="container-fluid" *ngIf="isFirstLoad">
  <div class="shimmer-container">
    <div *ngFor="let cardShimmer of [0, 1, 2, 3, 4, 5, 6, 7, 8]" class="shimmer">
      <app-gif-content-shimmer></app-gif-content-shimmer>
    </div>
  </div>
</section>

<section class="container-fluid">
  <fieldset>
    <legend>
      <span *ngIf="httpService.searchQuery.length; else elseBlock">{{httpService.searchQuery}}</span>
      <ng-template #elseBlock>Trending</ng-template>
    </legend>
    <div *ngFor="let rowGifs of gifs" class="gifs-row row">
      <app-gifs-row [rowGifs]="rowGifs"></app-gifs-row>
    </div>
  </fieldset>
</section>

<div *ngIf="isLoading" class="spinner-container">
  <span class="spinner"></span>
</div>
